main {
  font-family: "Montserrat", sans-serif;
  background-color: rgb(40, 40, 40);
  height: 100vh;
}

.app-list {
  background-color: rgb(40, 40, 40);
  padding-bottom: 50px;
}

.teacher-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.teacher-display {
  width: calc((100% / 3) - 20px);
  display: flex;
  justify-content: center;
  margin: 20px 0;
  border: 1px solid black;
  background-color: #f6f4f2;
  text-align: center;
  .image-container {
    margin-top: 20px;
    width: 200px;
    height: 200px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 60%;
    }
  }
  .text-container {
    padding: 20px 0;
    word-break: break-all;
    .teacher-email {
      font-size: 0.8rem;
      padding-top: 20px;
    }
  }
  a {
    color: black;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.5s;
    &:hover,
    &:focus {
      background-color: burlywood;
    }
  }
}

.show-more {
  background-color: #f6f4f2;
  color: black;
  margin: 0 auto;
  border-radius: 20px;
  padding: 10px;
  font-size: 1.5rem;
  width: 200px;
  transition: 0.2s;
  display: block;
  margin-top: 50px;
  &:hover,
  &:focus {
    cursor: pointer;
    background-color: burlywood;
  }
}

.searchbar-form {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  .searchbar-input {
    background-color: #f6f4f2;
    width: 40%;
    padding: 10px;
    padding-left: 20px;
    border-radius: 25px;
  }
}

.search-form {
  display: flex;
  justify-content: end;
  .search-select {
    border-radius: 5px;
    margin: 20px 50px;
    background-color: #f6f4f2;
    padding: 10px;
  }
}
