@media (max-width: 1000px) {
  .profile-image-section {
    width: 300px;
    height: 300px;
  }
  .profile-text-section {
    font-size: 0.8rem;
  }
}

@media (max-width: 800px) {
  .teacher-display {
    width: calc((100% / 2) - 20px);
  }
  .searchbar-form .searchbar-input {
    width: 80%;
  }

  .teacher-card-data {
    flex-direction: column;
  }
  .profile-image-section {
    width: 250px;
    height: 250px;
    margin-bottom: 20px;
  }
  .profile-text-section {
    width: 80%;
    p {
      padding: 10px 0;
    }
  }
}

@media (max-width: 600px) {
  .teacher-display {
    width: 100%;
  }
  .profile-text-section {
    padding: 10px;
  }
  .profile-image-section {
    width: 200px;
    height: 200px;
  }
  .icon {
    font-size: 2rem;
  }
  .profile-title {
    display: block;
    padding-bottom: 5px;
  }
  .teacher-card-data {
    justify-content: flex-start;
  }
}
