.teacher-profile {
  height: 100vh;
  background-color: rgb(40, 40, 40);
}
.teacher-card {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  align-items: center;
}
.profile-image-section {
  margin-top: 20px;
  width: 500px;
  height: 500px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 60%;
  }
}
.profile-text-section {
  width: 50%;
  background-color: white;
  letter-spacing: 1px;
  padding: 20px;
  p {
    padding: 20px 0;
  }
}

.profile-title {
  font-weight: bold;
  color: rgb(106, 106, 106);
  padding-right: 10px;
}

.class-list {
  display: flex;
  .subject-class {
    display: flex;
  }
}
