@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

.wrapper {
  max-width: 1280px;
  width: 85%;
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

h1,
h2,
h3,
ul,
p,
a,
input,
textarea {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

main {
  font-family: "Montserrat", sans-serif;
  background-color: #282828;
  height: 100vh;
}

.app-list {
  background-color: #282828;
  padding-bottom: 50px;
}

.teacher-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.teacher-display {
  width: calc((100% / 3) - 20px);
  display: flex;
  justify-content: center;
  margin: 20px 0;
  border: 1px solid black;
  background-color: #f6f4f2;
  text-align: center;
}
.teacher-display .image-container {
  margin-top: 20px;
  width: 200px;
  height: 200px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.teacher-display .image-container img {
  width: 60%;
}
.teacher-display .text-container {
  padding: 20px 0;
  word-break: break-all;
}
.teacher-display .text-container .teacher-email {
  font-size: 0.8rem;
  padding-top: 20px;
}
.teacher-display a {
  color: black;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.5s;
}
.teacher-display a:hover, .teacher-display a:focus {
  background-color: burlywood;
}

.show-more {
  background-color: #f6f4f2;
  color: black;
  margin: 0 auto;
  border-radius: 20px;
  padding: 10px;
  font-size: 1.5rem;
  width: 200px;
  transition: 0.2s;
  display: block;
  margin-top: 50px;
}
.show-more:hover, .show-more:focus {
  cursor: pointer;
  background-color: burlywood;
}

.searchbar-form {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}
.searchbar-form .searchbar-input {
  background-color: #f6f4f2;
  width: 40%;
  padding: 10px;
  padding-left: 20px;
  border-radius: 25px;
}

.search-form {
  display: flex;
  justify-content: end;
}
.search-form .search-select {
  border-radius: 5px;
  margin: 20px 50px;
  background-color: #f6f4f2;
  padding: 10px;
}

.teacher-profile {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #282828;
}

.teacher-card {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: inherit;
  word-break: break-all;
}

.teacher-card-data {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 90%;
}

.profile-image-section {
  width: 500px;
  height: 500px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-image-section img {
  width: 60%;
}

.profile-text-section {
  width: 50%;
  background-color: white;
  letter-spacing: 1px;
  padding: 20px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}
.profile-text-section p {
  padding: 20px 0;
}

.profile-title {
  font-weight: bold;
  color: #6a6a6a;
  padding-right: 10px;
  text-decoration: underline;
}

.class-list {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.class-list li {
  padding: 5px 0;
  list-style-type: disc;
  list-style-position: inside;
}

.icon {
  font-size: 3rem;
  color: white;
  transition: 0.5s;
}
.icon:hover, .icon:focus {
  color: burlywood;
}

.home {
  margin: 20px 0 0 20px;
  font-size: 2.5rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

@media (max-width: 1000px) {
  .profile-image-section {
    width: 300px;
    height: 300px;
  }

  .profile-text-section {
    font-size: 0.8rem;
  }
}
@media (max-width: 800px) {
  .teacher-display {
    width: calc((100% / 2) - 20px);
  }

  .searchbar-form .searchbar-input {
    width: 80%;
  }

  .teacher-card-data {
    flex-direction: column;
    height: 100%;
  }

  .profile-image-section {
    width: 250px;
    height: 250px;
  }

  .profile-text-section {
    width: 80%;
  }
  .profile-text-section p {
    padding: 10px 0;
  }
}
@media (max-width: 600px) {
  .teacher-display {
    width: 100%;
  }

  .profile-text-section {
    width: 95%;
    padding: 10px;
  }

  .icon {
    font-size: 2rem;
  }

  .profile-title {
    display: block;
    padding-bottom: 5px;
  }
}/*# sourceMappingURL=App.css.map */